services:
  mariadb:
    build: ./requirements/mariadb
    image: mariadb
    pull_policy: never
    container_name: mariadb
    env_file:
      - .env
    environment:
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
      - WP_ADMIN_USER=${WP_ADMIN_USER}
      - WP_ADMIN_PASSWORD=${WP_ADMIN_PASSWORD}
    volumes:
      - /home/jmayou/data/mariadb:/var/lib/mysql
    networks:
      - inception_net
    expose:
      - "3306"
    restart: always

  wordpress:
    build: ./requirements/wordpress
    image: wordpress
    pull_policy: never
    container_name: wordpress
    env_file:
      - .env~
    depends_on:
      - mariadb
    volumes:
      - /home/jmayou/data/shared:/var/www/html
    networks:
      - inception_net
    expose:
      - "9000"
    restart: always

  nginx:
    build: ./requirements/nginx
    image: nginx
    pull_policy: never
    container_name: nginx
    env_file:
      - .env
    environment:
      - DOMAIN_NAME=${DOMAIN_NAME}
    depends_on:
      - wordpress
    ports:
      - "443:443"
    volumes:
      - /home/jmayou/data/shared:/var/www/html
    networks:
      - inception_net
    restart: always

networks:
  inception_net:
